<style>
        .parallax {
          /* The image used */
          background-image: url(images/parallax1.jpg);

          /* Set a specific height */
          min-height: 1000px;
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          
        }
        .parallax1 {
            /* The image used */
            background-image: url(images/textbackground.jpg);
  
            /* Set a specific height */
            min-height: 1000px;
          
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
          }

          .parallax2 {
            /* The image used */
            background-image: url(images/background.png);
  
            /* Set a specific height */
            min-height: 500px;
          
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
          }
  
         
          
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color:azure;
  text-align: center;
}



</style>