<style>
.parallax {
  /* The image used */
  background-image: url(file:///Users/thomasrawlins/WHO/website/images/background-umlalazi.jpg);

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color:azure;
  text-align: center;
}



</style>